Source: libsilkit
Priority: optional
Maintainer: Jan Kraemer <jan.kraemer@vector.com>
Build-Depends: debhelper-compat (= 13), cmake, ninja-build, dh-cmake, dh-cmake-compat (= 1), dh-sequence-cpack,  libfmt-dev, libspdlog-dev, libasio-dev, libyaml-cpp-dev
Standards-Version: 4.6.0
Section: libs
Homepage: https://github.com/vectorgrp/sil-kit
Vcs-Git: https://github.com/vectorgrp/sil-kit
Rules-Requires-Root: no

Package: libsilkit-dev
Section: libdevel
Architecture: any
Multi-Arch: no
Depends: libsilkit4(= ${binary:Version}), ${misc:Depends}, ${shlibs:Depends}
Description: Development packages for libsilkit
 The Vector SIL Kit is an open-source library for connecting
 Software-in-the-Loop Environments. This README is intended to provide you with
 quick start on how to build the Vector SIL Kit. For documentation on using the
 Vector SIL Kit, see the HTML documentation, which can be generated when
 building the Vector SIL Kit (cf. Customizing the Build) and is provided in
 pre-built form with the SIL Kit packages. The SIL Kit source and documentation
 is licensed under a permissible open source license, see LICENSE file. For
 licenses of third party dependencies, see ThirdParty/LICENSES.rst.

Package: libsilkit4
Architecture: any
Multi-Arch: no
Depends: ${shlibs:Depends}, ${misc:Depends}, libyaml-cpp-dev
Description: Simulation in the loop kit by Vector
 The Vector SIL Kit is an open-source library for connecting
 Software-in-the-Loop Environments. This README is intended to provide you with
 quick start on how to build the Vector SIL Kit. For documentation on using the
 Vector SIL Kit, see the HTML documentation, which can be generated when
 building the Vector SIL Kit (cf. Customizing the Build) and is provided in
 pre-built form with the SIL Kit packages. The SIL Kit source and documentation
 is licensed under a permissible open source license, see LICENSE file. For
 licenses of third party dependencies, see ThirdParty/LICENSES.rst.
